<link href="https://fonts.googleapis.com/earlyaccess/nicomoji.css" rel="stylesheet">
<h3 class="wf-nicomoji">カシマッチってなに？</h3>
  皆さんは落ちこんだときに歌詞から元気をもらったり、失恋した時に歌詞を聞いてその時のことを思い出して泣いたり、そんな経験はありますか？
  歌詞マッチはたくさんの歌詞からその時の感情にマッチした曲に出会うお助けをする、歌詞から曲を探すことが出来るサイトです。
  また、好きな歌詞やみんなに知ってほしい歌詞を自身で投稿することもできます。ぜひ投稿してみて下さいネ☆
　


  <p class="wf-nicomoji"><%= link_to "トップページ", tweets_path %></p>
